*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family:Arial;
}

body{
  background:#0f172a;
  color:white;
}

.navbar{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:#111827;
  z-index:1000;
}

.logo{
  color:#38bdf8;
  font-weight:bold;
  font-size:22px;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:25px;
}

.nav-links a{
  color:white;
  text-decoration:none;
  transition:0.3s;
}

.nav-links a:hover{
  color:#38bdf8;
}

.menu-btn{
  display:none;
  font-size:24px;
  cursor:pointer;
}

.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
  background:
  linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
  ),
  url("https://images.unsplash.com/photo-1518770660439-4636190af475?q=80&w=1920");
  background-size:cover;
  background-position:center;
}

.hero-content h1{
  font-size:55px;
  margin-bottom:20px;
}

.hero-content p{
  max-width:700px;
  margin:auto;
  line-height:1.8;
}

button{
  margin-top:25px;
  padding:14px 30px;
  border:none;
  border-radius:10px;
  background:#38bdf8;
  color:white;
  cursor:pointer;
  transition:0.3s;
  font-size:16px;
}

button:hover{
  transform:scale(1.05);
}

.about,
.services,
.contact{
  padding:100px 30px;
  text-align:center;
}

.service-container{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:25px;
  margin-top:40px;
}

.card{
  background:#1e293b;
  width:280px;
  padding:30px;
  border-radius:20px;
  transition:0.4s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 20px #38bdf8;
}

.card i{
  font-size:40px;
  margin-bottom:20px;
  color:#38bdf8;
}

form{
  max-width:450px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

input,
textarea{
  padding:15px;
  border:none;
  border-radius:10px;
  outline:none;
}

textarea{
  min-height:120px;
}

footer{
  text-align:center;
  padding:25px;
  background:#111827;
}

/* Responsive */
@media(max-width:768px){

  .menu-btn{
    display:block;
  }

  .nav-links{
    position:absolute;
    top:80px;
    right:-100%;
    background:#111827;
    flex-direction:column;
    width:220px;
    padding:20px;
    transition:0.4s;
  }

  .nav-links.active{
    right:0;
  }

  .hero-content h1{
    font-size:38px;
  }

}
